---
import HeroRain from "../components/hero-rain.astro"
import Projects from "../components/projects.astro"
import Base from "../layouts/base.astro"
---

<Base>
    <section
        id='top'
        class='w-full min-h-dvh flex flex-col justify-center pt-14 select-none'
    >
        <h1
            class='w-full flex flex-row md:justify-end max-w-7xl mx-auto text-4xl py-10 px-4'
        >
            Building Dreams.<br />One Line at a Time.
        </h1>
        <HeroRain />
        <div
            class='w-full max-w-7xl mx-auto text-xl px-4 text-center font-pixel py-4'
        >
            v Scroll Down v
        </div>
    </section>
    <section
        id='projects'
        class='w-full flex flex-col items-center min-h-max'
    >
        <h2 class='w-full max-w-7xl text-2xl md:text-4xl px-4 mx-auto mt-10'>
            Elevate your online presence<br />with a <span
                class='font-serif italic text-secondary'>custom</span
            > website.
        </h2>
        <p
            class='w-full text-xl md:text-3xl text-center py-4 my-8 italic font-serif border-y border-text'
        >
            No Templates. No Duplicates. Just You.
        </p>
        <h3 class='w-full max-w-7xl text-2xl md:text-4xl px-4 mx-auto'>
            Previous Projects
        </h3>
        <Projects />
    </section>
    <section
        id='about'
        class='w-full flex flex-col items-center min-h-max'
    >
        <h3 class='w-full max-w-7xl text-2xl md:text-4xl px-4 mx-auto mt-10'>
            About Me
        </h3>
        <h4
            class='w-full max-w-7xl text-xl md:text-2xl px-4 mx-auto mt-4 font-semibold text-justify'
        >
            Hello! I'm Adrian<span class='text-lg md:text-xl font-normal'
                >, a web and software developer with a passion for creating
                unique and innovative solutions.</span
            >
        </h4>
        <p
            class='w-full max-w-7xl px-4 text-lg mt-4 [&_span]:text-secondary [&_span]:italic [&_span]:underline text-justify'
        >
            I specialize in digital experiences with <span>Next.js</span> and <span
                >Astro</span
            >, and love making random things! I also work with the talented team
            at <a
                href='https://devgo.studio'
                class='underline text-secondary'
                target='_blank'
                >DEVGO Studio</a
            >, ready for new projects.
        </p>
    </section>
</Base>
