---
export const sections = ["projects", "about"]
---

<nav
    class='fixed top-0 z-10 flex justify-center px-4 py-2 w-full bg-background'
>
    <div
        class='w-full flex flex-row gap-2 justify-between items-center max-w-7xl'
    >
        <a
            title='Home'
            href='#top'
            class='font-pixel text-3xl font-bold hover:bg-text hover:text-background px-2 transition-colors'
            >ab</a
        >
        <div class='flex flex-row gap-8'>
            {
                sections.map((part, idx) => (
                    <a
                        href={`#${part}`}
                        title={`go to ${part}`}
                        class={`font-pixel text-xl relative group`}
                    >
                        {part}
                        <div class='absolute bottom-px left-0 right-0 group-hover:bg-secondary bg-transparent h-px transition-colors' />
                    </a>
                ))
            }
            <a
                href='mailto:adrianbonpin@gmail.com?subject=Website%20Enquiry&body=Hello%20Adrian,'
                title='contact me'
                class='font-pixel text-xl relative group'
                >contact<div
                    class='absolute bottom-px left-0 right-0 group-hover:bg-secondary bg-transparent h-px transition-colors'
                >
                </div></a
            >
        </div>
    </div>
</nav>
